#wrapper
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .swiper-slide
        height: 100%;
        position: absolute;
        transition: left 2s;
        width: 100%;

        img
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;

    .right
        left: 100%;
        opacity: 0;

    .center
        left: 0;
        opacity: 1;

    .left
        left: -100%;
        opacity: 1;