<div id="wrapper">
    <div class="swiper-slide center">
        <p (click)="navigateTo(['/', 'Heilpraxis Daniela Hale'])">Praxis für Naturheilverfahren und energetisches Heilen</p>
    </div>
    <div class="swiper-slide right">
        <p (click)="navigateTo(['/', 'Heilpraxis Daniela Hale'])">Naturheilpraxis Daniela Hale</p>
    </div>
    <div class="swiper-slide right">
        <p (click)="navigateTo(['/innerwise', 'innerwise®'])">void</p>
    </div>
    <div class="swiper-slide right">
        <p (click)="navigateTo(['/psychosomatische_energetik', 'PSE (Psychosomatische Energetik)'])">Psychosomatische Energetik</p>
    </div>
    <div class="swiper-slide right">
        <p (click)="navigateTo(['/', 'Heilpraxis Daniela Hale'])">void</p>
    </div>
    <div class="swiper-slide right">
        <p (click)="navigateTo(['/persönlichkeitstraining', 'PT Persönlichkeitstraining'])">Persönlichkeitstraining</p>
    </div>
    <div class="swiper-slide right">
        <p (click)="navigateTo(['/gesprächspsychotherapie', 'Gesprächspsychotherapie'])">Gesprächspsychotherapie</p>
    </div>
</div>